# Development-only Python packages
# This file is managed by pip-tools. See pyproject.toml for dependencies.

# Pre-commit hooks - managed by .pre-commit-config.yaml
pre-commit==3.7.1

# Python Linter & Formatter
ruff==0.4.4

# Python Type Checker
pyright==1.1.366

# SQL Linter & Formatter
sqlfluff==3.0.7

# Shell Script Linter
shellcheck-py==0.10.0.1
bashate==2.1.1
